@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: rgb(0, 0, 0);
    /* --background-color: rgb(225, 233, 243); */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    font-size: x-small;
    top: 1rem;
}
